cleaner.py
test.R
Downloader/scihub.py
Downloader/__pycache__/
Downloader/downloader.py
Papers/*
Xpdf
Resulting articles/Methodology.*
#Resulting articles/Ranking.*
!Resulting articles/Results.pdf
!Resulting articles/Methodology.pdf
!Resulting articles/Ranking.tex
!Resulting articles/Methodology.tex